.circle{
  width: 650px;
  height: 650px;
  /* background: linear-gradient(to bottom,#fa39ad 40%,#fe6c4c 50%); */
  /* background: linear-gradient(to bottom,#1224e8 40%,#844cfe 50%); */
  background: linear-gradient(to bottom,#1224e8 40%,#230ac4 50%);

  filter: blur(100px);

  animation-name: animate;
  animation-duration: 2s;
  animation-iteration-count: infinite;

}

.circle2{
  width: 750px;
  height: 650px;
  /* background: linear-gradient(to bottom,#fa39ad 40%,#fe6c4c 50%); */
  background: linear-gradient(to bottom,#d71757 40%,#ed2e5e 50%);

  filter: blur(100px);

}

@keyframes animate {

  0% {background: (to bottom,#1224e8 40%,#e84545 50%)}
  20% {background: (to bottom,#e8128b 40%,#7a31f0 50%)}
  40% {background: (to bottom,#1224e8 40%,#e84545 50%)}
  60% {background: (to bottom,#e8128b 40%,#7a31f0 50%)}
  80% {background: (to bottom,#1224e8 40%,#e84545 50%)}
  100% {background: (to bottom,#e8128b 40%,#7a31f0 50%)}





  
}

